name: Deploy to Firebase Hosting

on:
  push:
    branches:
      - main # O la rama que uses para producci贸n

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 20 # O la versi贸n que uses
      - run: npm ci
      - run: npm run build -- --configuration production # O el nombre de tu configuraci贸n de producci贸n
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_CLINIMATCH_51256 }}' # Reemplaza <nombre-de-tu-proyecto>
          channelId: live
          projectId: clinimatch-51256 # Reemplaza con el ID de tu proyecto de Firebase
